@charset "ISO-8859-1";
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #FF6B6B, rgb(192, 192, 192), rgb(255, 255, 255), #1B998B);
    background-size: 400% 400%;
    animation: waveBackground 15s ease infinite;
}

.form-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

h1 {
    font-family: Arial, sans-serif;
    color: white;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

input[type="submit"] {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #556270;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #FF6B6B;
    transform: scale(1.05);
}

.form-container:hover {
    transform: scale(1.02);
}

@keyframes waveBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
